ol {
    white-space: nowrap;
    padding: 0 40px; }
li {
    white-space: normal;
}
li img {
    vertical-align: middle;
    display: inline-block; }
li p {
    white-space: normal;
    vertical-align: middle;
    display: inline-block; }

.toc li {
    list-style-type: none;
}

img {margin-bottom: 10px; padding-bottom: 10px;}

.caution_text{color: #FF00CB;font-weight: bold; text-decoration: underline;
    background-color: #FFD9F9;
    padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;
    margin-left: 10px; margin-top: 10px; margin-right: 10px; margin-bottom: 0px;}
.caution{
    white-space: normal;
    background-color: #FFD9F9;
    padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;
    margin-left: 10px; margin-top: 0px; margin-right: 10px; margin-bottom: 10px;}

.note_text{color: #FFCB00; font-weight: bold; text-decoration: underline;
    background-color: #FFF9D9;
    padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;
    margin-left: 10px; margin-top: 10px; margin-right: 10px; margin-bottom: 0px;}
.note{
    white-space: normal;
    background-color: #FFF9D9;
    padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;
    margin-left: 10px; margin-top: 0px; margin-right: 10px; margin-bottom: 10px;}

.tip_text{color: #00CBFF;font-weight: bold; text-decoration: underline;
    background-color: #d9f7ff;
    padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;
    margin-left: 10px; margin-top: 10px; margin-right: 10px; margin-bottom: 0px;}
.tip{
    white-space: normal;
    background-color: #d9f7ff;
    padding-left: 10px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;
    margin-left: 10px; margin-top: 0px; margin-right: 10px; margin-bottom: 10px;}

.pt_variable_description{color: #000099;}
.pt_loop_description{color: #009900;}
